<h1><%= current_user.firstname %> bienvenue chez Madera</h1>

<% if current_user.role == 'admin' %>

    <p>test</p>

<% else %>

    <a href=" <%= clients_path %>" class="btn btn-primary">Les clients</a>
    <a href=" <%= project_modular_houses_path %>" class="btn btn-primary">Les projets</a>
    <a href=" <%= providers_path %>" class="btn btn-primary">Les fournisseurs</a>

<% end %>